@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="game-hud">
        <div class="state @CurrentState.ToString().ToLower()">
            @CurrentState
        </div>
        <div class="time">
            @if (GameManager.Current?.HasMinimumPlayers() ?? false)
            {
                @($"{Math.Max(0, TimeLeft).ToString("0")}s")
            }
            else if (CurrentState == GameManager.GameState.Intermission)
            {
                <span class="waiting">Waiting for players...</span>
            }
            else
            {
                @($"{Math.Max(0, TimeLeft).ToString("0")}s")
            }
        </div>
    </div>
</root>

@code
{
    public float TimeLeft => GameManager.Current?.CurrentState == GameManager.GameState.Intermission 
        ? GameManager.INTERMISSION_DURATION - GameManager.Current.TimeSinceStateStart
        : GameManager.ROUND_DURATION - GameManager.Current.TimeSinceStateStart;

    public GameManager.GameState CurrentState => GameManager.Current?.CurrentState ?? GameManager.GameState.Intermission;

    protected override int BuildHash() => HashCode.Combine(TimeLeft, CurrentState, GameManager.Current?.HasMinimumPlayers());
}