@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="points-display">
		<div class="state @GameManager.Current?.State.ToString().ToLower()">
			Points
		</div>
		<div class="points">
			@PlayerPoints
		</div>
	</div>
</root>

@code
{
	private Player _player;
	private Player Player
	{
		get
		{
			if (!_player.IsValid())
				_player = Player.FindLocalPlayer();

			return _player;
		}
	}

	private int PlayerPoints => Player.Points;

	protected override int BuildHash() => HashCode.Combine(PlayerPoints);
}
